{% extends 'base.html.twig' %}

{% block title %}ExchangeRate index{% endblock %}

{% block body %}
    <div class="container col-9 mt-5">
        <h1 class="text-center mb-3">Liste des taux de change</h1>
    </div>
    <div class="bloc-wrapper container col-9">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>De</th>
                <th>Vers</th>
                <th>Taux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exchange_rate in exchange_rates %}
            <tr>
                <td>{{ exchange_rate.id }}</td>
                <td>{{ exchange_rate.currency_from }}</td>
                <td>{{ exchange_rate.currency_to }}</td>
                <td>{{ exchange_rate.rate }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_exchange_rate_edit', {'id': exchange_rate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_convert') }}">Retour</a>
    <a class="btn btn-success" href="{{ path('app_exchange_rate_new') }}">Ajouter un taux de change</a>
    </div>
{% endblock %}
